/WatermarkBuilder/WorkspaceSettings.xcsettings
/WatermarkBuilder/UserInterfaceState.xcuserstate
/WatermarkBuilder/Breakpoints_v2.xcbkptlist
/WatermarkBuilder/xcschememanagement.plist
/WatermarkBuilder.xcodeproj/xcuserdata/
/WatermarkBuilder.xcodeproj/project.xcworkspace/xcuserdata/

